backports.functools-lru-cache==1.5
click==6.7
cycler==0.10.0
Flask==0.12.2
flask-sqlacodegen==1.1.6.1
Flask-SQLAlchemy==2.3.2
inflect==0.2.5
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
matplotlib==2.1.2
numpy==1.14.1
pandas==0.22.0
pd==0.0.1
PeakUtils==1.1.1
PyMySQL==0.8.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sqlacodegen==1.1.6
SQLAlchemy==1.2.2
subprocess32==3.2.7
Werkzeug==0.14.1
